.basic {
    display: flex;
    margin-top: 10px;
}

.basicInfo {
margin-left: 50px;
}

.title {
    margin-top: 40px;
}

.button {
    padding: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}


